<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <hr>
  <p><span>name: </span><%= link_to user.name, user_path(user.id) %></p>
  <p><span>email: </span><%=link_to user.email, user_path(user.id) %></p>
<% end %>
