<h1>ユーザー一覧</h1>
<div class="circle-avatar">
<% @users.each do |user| %>
  <hr>
  <p><%= image_tag user.avatar.to_s %></p>
  <p><span>name: </span><%= link_to user.name, user_path(user.id) %></p>
  <p><span>email: </span><%=link_to user.email, user_path(user.id) %></p>
  <p><span>profile: </span><%= link_to user.profile, user_path(user.id) %></p>
<% end %>
</div>
